.navbar {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to right,
    blue,
    red,
    green
  );
  border-bottom: 3px solid black;
}

#pixel-logo {
  margin-left: 30px;
  color: white;
  text-decoration: none;
}

.icons {
  display: flex;
  justify-content: center;
  margin-right: 30px;
}

.icons a {
  color: black;
  transition: 0.2s ease-in-out;
}

.icons a:hover {
  color: white;
}

/* catalogue css */
.catalogue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  margin: 30px 30px 30px 30px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.product-header {
  text-align: center;
}

.products-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.products-list button {
  color: black;
  border: transparent;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  font-weight: bold;
  background-color: white; 
}

.products-list button:hover {
  color: rgb(158, 43, 158);
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 30px 30px 30px 30px;
  padding-bottom: 10px;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}

.product:hover {
  box-shadow: 10px 10px 10px rgb(161, 32, 190);
  transform: scale(1.02);
}

.selected-type {
  text-align: center;
}

.product-link {
  text-decoration: none;
  color: black;
  text-align: center;
}

/* productPage css */
.product-Page {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.product-Page h1 {
  text-align: center;
}

.product-Page img {
  width: 100%;
}

.product-Page p {
  text-align: center;
}

.product-Page label {
  text-align: center;
}

.product-Page input {
  padding: 10px;
  border: 1px solid #8217e7;
  border-radius: 10px;
}

.product-Page .description {
  border: 2px solid black;
  margin: 30px 30px 30px 30px;
  padding: 15px;
  border-radius: 20px;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top: 2px solid rgb(62, 5, 106);
  background-color: pink;
  border-bottom: 2px solid rgb(62, 5, 106);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top: 2px solid rgb(62, 5, 106);
  background-color: pink;
  border-bottom: 2px solid rgb(62, 5, 106);
}

footer a {
  transition: 0.3s ease-in-out;
}

footer a:hover {
  color: rgb(0, 0, 0);
}