.navbar {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to right,
    blue,
    red,
    green
  );
  border-bottom: 3px solid black;
}

#pixel-logo {
  margin-left: 30px;
  color: white;
}

.icons {
  display: flex;
  justify-content: center;
  margin-right: 30px;
}

.icons a {
  color: black;
  transition: 0.2s ease-in-out;
}

.icons a:hover {
  color: white;
}

/* catalogue css */
.catalogue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  margin: 30px 30px 30px 30px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.product-header {
  text-align: center;
}

.products-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.products a {
  color: black;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.products a:hover {
  color: rgb(158, 43, 158);
  font-weight: bold;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 30px 30px 30px 30px;
  padding-bottom: 10px;
  border-radius: 10px;
}